.toggle-switch {
  position: relative;
  width: 90px;
  display: inline-block;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
  text-align: center;
}

.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before, .toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
}

.toggle-switch-inner:before {
  content: "Select";
  padding-right: 22px;
  background-color: blue;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-switch-inner:after {
  content: "Adjust";
  padding-left: 25px;
  background-color: #EEEEEE;
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-switch-switch {
  display: block;
  width: 25px;
  height: 30px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px; 
}